@import url("https://fonts.googleapis.com/css2?family=Merriweather&family=Poppins:wght@200;300&family=Quattrocento&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  border: 0;
  font-family: "Poppins", sans-serif;
}
body {
  overflow: hidden;
  background-image: url("assets/background-image-light.jpg");
  height: auto;
  width: auto;
  background-size: 100vw 100vh;
  position: relative;
  background-repeat: no-repeat;
}

.container {
  height: 20rem;
  width: 40rem;
  border-radius: 10px;
  position: absolute;
  box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 13%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
  color: #ffffff;
  top: 3rem;
  left: 2rem;
  backdrop-filter: blur(8rem);
  border: 0.1px solid #2f3243;
  opacity: 0.9;
  background-color: #242941;
}
.header {
  background-color: #0a1d3e;
  height: 2.5rem;
  border-radius: 10px 10px 0 0;
  color: aliceblue;
  box-shadow: 0 1.6px 3.6px 0 rgb(0 0 0 / 13%), 0 0.3px 0.9px 0 rgb(0 0 0 / 11%);
  cursor: grab;
}

.button__container {
  margin-right: 1rem;
  display: flex;
  justify-content: flex-end;
}
.minimize-icon,
.close {
  font-weight: 900;
  color: #ffffff;
  line-height: 2;
  cursor: pointer;
  height: 100%;
}
.minimize-icon {
  line-height: 1.5;
}

.header__button {
  width: 2rem;
  text-align: center;
  justify-content: center;
  vertical-align: middle;
}

.sauce {
  width: 20rem;
  left: calc(40rem + 2rem + 2rem);
  height: 25rem;
  top: 12rem;
}

.benefits {
  padding: 0 0.5rem 0.2rem 1rem;
  background: rgb(2, 0, 36);
  background: rgb(37, 37, 172);
  background: rgb(37, 37, 172);
  background: linear-gradient(90deg, #1624d3 31%, #66a4f9 97%);
  border-radius: 10px;
}
.container-body {
  height: calc(100% - 2.5rem);
  width: 90%;
  margin: auto;
}
.container__title {
  font-size: 1.5rem;
  margin-top: 3rem;
  display: block;
  font-family: "Merriweather", serif;
  font-family: "Poppins", sans-serif;
  font-family: "Quattrocento", serif;
}

.container__subtitle {
  font-size: 3rem;
  font-family: "Segoe UI", sans-serif;
}

.container__description {
  margin-top: 0.5rem;
  display: block;
  width: 28rem;
  font-family: "Poppins", sans-serif;
}
.sauce-title,
.email-title {
  font-size: 1.5rem;
  margin: 0.8rem 1rem 0 1rem;
  color: #66a4f9;
  display: block;
}

.sauce-subtitle,
.email-subtitle {
  margin: 0.8rem 1rem 0 1rem;
  font-size: 1.2rem;
  display: block;
  font-weight: 600;
}
.email-subtitle {
  font-weight: 300;
  font-size: medium;
}

.benefits-list {
  list-style-type: none;
  margin-top: 0.5rem;
  /* background-color: red; */
}
.list-icon {
  width: 8%;
  background-size: cover;
  height: 80%;
  margin-top: 0.3rem;
}
.item-name {
  display: block;
  line-height: 2;
  font-size: 0.9rem;
}
.list-item {
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  transition: 0.2s ease-in-out;
  text-align: start;
}
.list-item:hover {
  background-color: #4e5153;
}

.item__description {
  position: absolute;
  background-color: #0a1d3e;
  width: 90%;
  height: 80%;
}

.email {
  position: absolute;
  left: calc(40rem + 4rem + 20rem + 4rem);
  height: 30rem;
  width: 25rem;
  top: 4rem;
}

.form-input,
.form-textarea {
  top: 0;
  left: 0;
  width: 22rem;
  border: 1px solid #a9b6c8;
  background: none;
  color: var(--text-color);
  outline: none;
  padding: 1rem 1.5rem 1rem 1.5rem;
  border-radius: 0.75rem;
  z-index: 1;
  resize: none;
}
.form-textarea {
  padding: 1rem 2rem 6rem 1rem;
}

.button {
  display: inline-block;
  padding: 0.75rem 1rem;
  border-radius: 0.5rem;
  transition: 0.4s;
  border: 1px solid #242941;
  margin-top: 1.2rem;
  cursor: pointer;
}

.paperplane {
  top: 25rem;
  height: 20rem;
  width: 35rem;
  left: 3rem;
}

.paperplane-title {
  display: block;
  /* margin-top: 1rem; */
  /* font-weight: 600; */
  font-size: 2.5rem;
  line-height: 1.8;
}

.paperplane-img {
  width: 3rem;
  position: absolute;
  right: 10rem;
  top: 12.5rem;
  z-index: -1;
}

.paperplane-heading {
  margin-top: 1rem;
  font-size: 1.5rem;
  display: block;
}

@media screen and (min-width: 1200px) and (max-width: 1450px) {
  .container {
    width: 29rem;
    top: 2rem;
  }
  .container__title {
    font-size: 1.5rem;
    /* margin-top: 2rem; */
  }
  .container__subtitle {
    font-size: 2.2rem;
  }
  .paperplane-title {
    font-size: 2rem;
  }
  .sauce {
    left: 32rem;
    width: 19rem;
  }
  .email {
    width: 22rem;
    left: calc(30rem + 22rem + 1rem);
    height: 32rem;
  }
  .form-input,
  .form-textarea {
    width: 20rem;
  }
  .container-body {
    left: 1rem;
  }
  .paperplane {
    width: 25rem;
    left: 1rem;
    top: 23rem;
    height: 18rem;
  }
  .paperplane-heading {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  .paperplane-title {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
  .paperplane-img {
    top: 10.5rem;
    left: 13.5rem;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1200px) {
  .container {
    width: 25rem;
    height: 17rem;
    left: 1rem;
  }
  .container__title {
    font-size: 1rem;
    margin-top: 2rem;
  }
  .container__description {
    width: 22rem;
    font-size: 0.9rem;
  }
  .container__subtitle {
    font-size: 1.9rem;
  }
  .paperplane-title {
    font-size: 2rem;
  }
  .sauce {
    left: 27rem;
    width: 17rem;
    height: 25rem;
  }
  .email {
    width: 18rem;
    left: calc(25rem + 22rem);
    height: 30rem;
  }
  .sauce-body {
    margin-left: 0.1rem;
  }
  .benefits-list {
    margin-left: -1rem;
  }
  .form-input,
  .form-textarea {
    width: 15rem;
  }
  .sauce-title,
  .email-title {
    font-size: 1rem;
  }
  .sauce-subtitle,
  .email-subtitle {
    font-size: 0.8rem;
  }
  .paperplane {
    width: 22rem;
    left: 1.2rem;
    top: 23rem;
    height: 15rem;
  }
  .paperplane-heading {
    font-size: 1rem;
    margin-top: 0.5rem;
  }
  .paperplane-title {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }
  .paperplane-img {
    top: 10.5rem;
    left: 13.5rem;
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .container {
    width: 20rem;
    height: 18rem;
    left: 1rem;
  }
  .container__title {
    font-size: 1rem;
    margin-top: 2.5rem;
    margin-bottom: 0.5rem;
  }
  .container__description {
    width: 14rem;
    font-size: 0.7rem;
  }
  .container__subtitle {
    font-size: 1.5rem;
  }
  .paperplane-title {
    font-size: 2rem;
  }
  .sauce {
    left: 22rem;
    width: 15rem;
    height: 20rem;
    top: 27rem;
  }
  .email {
    width: 18rem;
    left: calc(25rem + 5rem);
    height: 23rem;
    top: 2rem;
  }
  .sauce-body {
    margin-left: 0.1rem;
    width: 13rem;
  }
  .benefits-list {
    margin-left: -1rem;
  }
  .item-name {
    font-size: 0.8rem;
  }
  .form-input,
  .form-textarea {
    width: 15rem;
  }
  .sauce-title,
  .email-title {
    font-size: 1rem;
  }
  .sauce-subtitle,
  .email-subtitle {
    font-size: 0.8rem;
  }
  .paperplane {
    width: 18rem;
    left: 1.2rem;
    top: 25rem;
    height: 18rem;
  }
  .paperplane-heading {
    font-size: 0.2rem;
    margin-top: 0.5rem;
  }
  .paperplane-title {
    font-size: 1.2rem;
    margin-top: 0.5rem;
  }
  .paperplane-img {
    top: 8.5rem;
    left: 10.5rem;
  }
  .form-textarea {
    height: 5rem;
    padding: 1rem;
  }
}

@media screen and (min-width: 481px) and (max-width: 600px) {
  .container {
    width: 15rem;
    height: 19rem;
    left: 1rem;
  }
  .container__title {
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
  }
  .container__description {
    width: 14rem;
    font-size: 0.7rem;
  }
  .container__subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    display: block;
  }
  .paperplane-title {
    font-size: 1.5rem;
  }
  .sauce {
    left: 17rem;
    width: 13rem;
    height: 17rem;
    top: 22rem;
  }
  .email {
    width: 13.2rem;
    left: calc(17rem);
    height: 20rem;
    top: 1rem;
  }

  .sauce-body {
    margin-left: 0.1rem;
    width: 11rem;
  }
  .benefits-list {
    margin-left: -1rem;
  }
  .item-name {
    font-size: 0.6rem;
  }
  .form-input,
  .form-textarea {
    width: 10rem;
    margin-left: 0.8rem;
    /* display: block; */
  }
  .form-input {
    height: 2rem;
  }
  .sauce-title,
  .email-title {
    font-size: 0.7rem;
  }
  .sauce-subtitle,
  .email-subtitle {
    font-size: 0.8rem;
  }
  .paperplane {
    width: 15rem;
    left: 1rem;
    top: 23.5rem;
    height: 15rem;
  }
  .paperplane-heading {
    font-size: 0.1rem;
    margin-top: 0.5rem;
  }
  .paperplane-title {
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
  .paperplane-img {
    top: 9.5rem;
    left: 8rem;
    width: 13%;
  }
  .form-textarea {
    height: 4.5rem;
    padding: 0.5rem;
  }
  .button {
    font-size: 0.5rem;
    margin-left: 0.8rem;
    margin-top: 0.5rem;
  }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
  .container {
    width: 15rem;
    height: 19rem;
    left: 2rem;
  }
  .container__title {
    font-size: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 0.8rem;
  }
  .container__description {
    width: 14rem;
    font-size: 0.7rem;
  }
  .container__subtitle {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    display: block;
  }
  .paperplane-title {
    font-size: 1.5rem;
  }
  .sauce {
    left: 22rem;
    width: 13rem;
    height: 17rem;
    top: 22rem;
  }
  .email {
    width: 17rem;
    left: calc(20rem);
    height: 20rem;
    top: 1rem;
  }

  .sauce-body {
    margin-left: 0.1rem;
    width: 11rem;
  }
  .benefits-list {
    margin-left: -1rem;
  }
  .item-name {
    font-size: 0.6rem;
  }
  .form-input,
  .form-textarea {
    width: 12rem;
    margin-left: 0.8rem;
    /* display: block; */
  }
  .form-input {
    height: 2rem;
  }
  .sauce-title,
  .email-title {
    font-size: 0.7rem;
  }
  .sauce-subtitle,
  .email-subtitle {
    font-size: 0.8rem;
  }
  .paperplane {
    width: 15rem;
    left: 3rem;
    top: 23.5rem;
    height: 15rem;
  }
  .paperplane-heading {
    font-size: 0.1rem;
    margin-top: 0.5rem;
  }
  .paperplane-title {
    font-size: 0.9rem;
    margin-top: 0.5rem;
  }
  .paperplane-img {
    top: 9.5rem;
    left: 8rem;
    width: 13%;
  }
  .form-textarea {
    height: 4.5rem;
    padding: 0.5rem;
  }
  .button {
    font-size: 0.5rem;
    margin-left: 0.8rem;
    margin-top: 0.5rem;
  }
}

@media screen and (max-width: 480px) {
  * {
    display: none;
  }
}
